body {
  padding-top:50px;
  width: 310px;
  margin: auto;
}

.gameContainer {
  background-color: white;
  width: 352px;
  margin: auto;
  position: absolute;
}

.square {
  width: 150px;
  height: 150px;
  margin: 1px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid gray;
  display: block;
  float: left;
  text-align: center;
  line-height: 150px;
  color: black;
  cursor:pointer;
}

#red {
  border-radius: 100% 0 40% 0 ;
}

#blue {
  border-radius: 0 100% 0 40%;
}

#green {
  border-radius: 0 40% 0 100%;
}

#yellow {
  border-radius: 40% 0 100% 0;
}

.blink {
  animation: click 0.4s linear 1;
}

.s1 {
  background-color:#db3236;
}

.s2 {
  background-color:#4885ed;
}

.s3 {
  background-color:#3cba54;
}

.s4 {
  background-color:#f4c20d;
}

.start {
  position:absolute;
  left: 28%;
  top: 30%;
}

.start button {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  outline: none;
  background-color: #A9A9A9;
}

.livebutton {
  cursor:pointer;
}

.start button:hover {
  background-color: #D3D3D3;
}

#lvl {
  color: red;
}